<!-- footer.ejs -->
<!-- Inserted at the end of every page -->

<footer class="footer mt-auto py-3 sticky-bottom text-center" style="background-color: rgb(35, 94, 164); color: #fff;">
    <div class="container" style="color: #fff">
        <a class="link sub" href="about">ABOUT</a> |
        <a class="link sub" href="guidelines">GUIDELINES</a> |
        <a class="link sub" href="contact">CONTACT</a>
        <div class="sub">&copy; Copyright 2019 by nobody. All rights reserved.</div>
    </div>
</footer>