<footer class="footer">
    <a class="link" href="about">ABOUT</a> |
    <a class="link" href="guidelines">GUIDELINES</a> |
    <a class="link" href="contact">CONTACT</a>
    <div class="sub">&copy; Copyright 2019 by nobody. All rights reserved.</div>
</footer>
