<footer class="footer mt-auto py-3 fixed-bottom text-center" style="background-color: #654321; color: #fff;">
        <div class="container">
            <a class="link" href="about">ABOUT</a> |
            <a class="link" href="guidelines">GUIDELINES</a> |
            <a class="link" href="contact">CONTACT</a>
            <div class="sub">&copy; Copyright 2019 by nobody. All rights reserved.</div>
        </div>
</footer>
      