<header>
        <nav class="navbar navbar-expand-md navbar-dark sticky-top" style="background-color: rgb(35, 94, 164)";>
            <a class="head navbar-brand" href="home" style="font-size: 24px">Rate My Tufts Classes</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="search">Search for a Class</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="rate">Rate a Class</a>
                    </li>
                    <li class="nav-item">
                      <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img src="profile_icon.png" style="height:30px;" >
                        </button>
                          <div class="dropdown-menu" style="margin-right: 40px" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#" id="login"> Log In </a>
                            <a class="dropdown-item" href="#" id="signout"> Sign Out </a>
                          </div>
                        </div>
                    </li>
                    <li class="nav-item pull-right">
                        <div id="display_name"> </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    
    <script>
      firebase.auth().onAuthStateChanged(user => {
                  if(user) {
                    var name_container = document.getElementById("display_name");
                    var name = document.createElement('a');
                    name.innerHTML = "Hi, " + user.displayName + "!";
                    name_container.classList.add("nav-link");
                    name_container.appendChild(name);
                  }
         });
    </script>
<header>
        <nav class="navbar navbar-expand-md navbar-dark sticky-top" style="background-color: rgb(35, 94, 164)";>
            <a class="head navbar-brand" href="home" style="font-size: 24px">Rate My Tufts Classes</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="search">Search for a Class</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="rate">Rate a Class</a>
                    </li>
                    <li class="nav-item">
                      <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img src="profile_icon.png" style="height:30px;" >
                        </button>
                          <div class="dropdown-menu" style="margin-right: 40px;" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#" id="login"> Log In </a>
                            <a class="dropdown-item" href="#" id="signout"> Sign Out </a>
                          </div>
                        </div>
                    </li>
                    <li class="nav-item pull-right">
                        <div id="display_name"> </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    
    <script>
      firebase.auth().onAuthStateChanged(user => {
                  if(user) {
                    var name_container = document.getElementById("display_name");
                    var name = document.createElement('a');
                    name.innerHTML = "Hi, " + user.displayName + "!";
                    name_container.classList.add("nav-link");
                    name_container.appendChild(name);
                  }
         });
    </script>
        
