<script>
  function expand_collapse() {
    if($(".dropdown").css('display') == 'none') {
      $(".dropdown").show("slow");
    } else {
      $(".dropdown").hide("slow");
    } 
  }
</script>

<div class="header">
    <a class="title" href="home">Rate My Tufts Classes</a>
    <a class="link" href="search">Search for a Class</a>
    <a class="link" href="rate">Rate a Class</a>
   
   <!-- profile icon and login dropdown -->

   <div class="login_container" onClick="expand_collapse()">
    <a> <img style="width:50%" src="views/partials/profile_icon.png"></a>
    <br> <br>
	    <div class="dropdown">   
	      <li><a href="login.ejs"> Log In </a></li>
	      <li><a> Sign Out </a></li>
	    </div>
    </div>
      
</div>
