html, body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #3F88C5;
    font-family: 'Open Sans', sans-serif;
}

.bg-primary {
    background-color: #654321 !important;
}

.container {
    background-color: #3F88C5;
}

@font-face {
    font-family: 'nevis';
    src:  url('nevis.ttf') format('truetype');
}

.body {
    background-color: #3F88C5;
}

.sub {
    font-family: 'Open Sans', sans-serif;
}

.head {
    font-family: 'nevis';
}

.title {
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
}

.footer {
    background-color: #654321;
    padding: .5%;
    color: white;
    font-size: 75%;
    font-family: 'nevis';
}

.link {
    text-decoration: none;
    color: #ffffff;
    padding: 2%; 
}

.link:hover {
    color: #808080;
}

.container {
    padding: 2% 2%;
    margin-top: 2%;
}

.gray {
    background-color: rgba(255, 255, 255, 0.8);
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

/* Login icon and dropdown styling */
.dropdown {display: none; }
.dropdown ul{list-style: none; margin: 0; padding: 0px;}
.dropdown li {list-style: none; background-color: #654321; margin-bottom:2px; line-height: 30px; }
.dropdown li a{ list-style: none; color: #fff; text-align:center; font-family: 'nevis';  font-size: 12pt;}

.login_container {
    float:right;
    text-align: center;
    width: 10%;
    cursor: pointer;
  }
