/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

    main > .container {
        padding: 60px 15px 0;
    }

    html, body {
        margin: 0;
        padding: 0;
        border: 0;
        background-color: rgb(175, 208, 241);
        font-family: 'Open Sans', sans-serif;
        font-size: 16px
    }

    p {
        font-size: 12px;
    }

    .blue {
        color: #3F88C5;
    }

    .white {
        color: #fff;
    }

    .light {
        font-style: lighter;
    }
    .brown {
        color: #654321;
    }

    .head {
        font-family:'nevis';
    }

    .row {
        padding: .5% 0 .5% 0;
    }

    .sub {
        font-family: 'Open Sans', sans-serif;
    }

    .link {
        text-decoration: none;
        color: rgba(255,255,255,.5);
        padding: 2%; 
    }

    .link:hover {
        text-decoration: none;
        color: rgba(255,255,255,.75);
    }

    .footer > .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .go-btn {
        width: 10%;
    }

    .login_box {
      height: 30%;
      width: 50%;
      background-color: #3F88C5;
      padding: 50px 50px 50px 50px;
      margin-left: auto;
      margin-right: auto;
    }

    code {
        font-size: 80%;
    }
