html, body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #3F88C5;
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'nevis';
    src:  url('../../../.fonts/nevis.ttf' format('truetype');
/*     src:  url('./fonts/nevis.woff2') format('woff'),
          url('./fonts/nevis.ttf') format('truetype'); */
}
/* 
@font-face {
font-family: 'ChalkDash';
src: local('ChalkDash'), url(./fonts/ChalkDash.ttf) format('truetype');
} */

.sub {
    font-family: 'Open Sans', sans-serif;
}

.head {
    font-family: 'nevis';
}

.header {
    background-color: #654321;
    padding: 2%;
    color: #ffffff;
    font-family: 'nevis';
}

.title {
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

.footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #654321;
    padding: .5%;
    color: white;
    font-size: 75%;
    font-family: 'nevis';
}

.link {
    text-decoration: none;
    color: #ffffff;
    padding: 2%; 
}

.link:hover {
    color: #808080;
}

.container {
    padding: 2% 2%;
    margin: 2%;
}

.gray {
    background-color: rgba(255, 255, 255, 0.8);
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}
