<!-- about.ejs -->

<!doctype html>
<html>

<% include ../partials/header.ejs %>
<script src="click.js"></script>

<body>
    <% include ../partials/nav.ejs %>
    
    <div class="container" style="margin-top: 2%;">
        <h1 class="head text-center brown">About</h1>
        <div class="row" style="margin-top: 5%">
            <div class="col-md-3">
                <img src="brooke.jpg" class="img-circle" alt="Brooke">
            </div>	
            <div class="col-md-3">
                <img src="sook.jpg" class="img-circle" alt="Sook-Hee">
            </div>
           <div class="col-md-3">
                <img src="nicole.jpg" class="img-circle" alt="Sook-Hee">
            </div>
            <div class="col-md-3">
                <img src="eli.jpg" class="img-circle" alt="Sook-Hee">
            </div>
        </div>

        <div class="left brown" style="padding: 2%">
            Hello! We are Nicole, Eli, Sook-Hee, and Brooke and together we have brought you this 
            wonderful resource, "Rate my Tufts Classes." It's kind of like Rate my Professors, but 
            only for Tufts classes, so you can see what your peers think of classes you want to take. 
        </div>
    </div>

    <% include ../partials/footer.ejs %>
</body>
</html>
