<!doctype html>
<html>
<head>
    <% include ../partials/header.ejs %>
    <title>About</title>
</head>
<body>
    <% include ../partials/nav.ejs %>
    
    <div class="container gray">
        <h1 class="center">About</h1>
        <div class="left">
            RateMyProfessors.com is the largest online destination for professor ratings. Users have added more than 19 million ratings, 1.7 million professors and over 7,500 schools to RateMyProfessors.com. User-generated content makes RateMyProfessors.com the highest trafficked site for quickly researching and rating professors, colleges and universities across the United States, Canada and the United Kingdom. More than 4 million college students each month are using Rate My Professors – join the fun!
            Now, students can comment on and rate their school as well, by visiting their school's Rate My Professors page.
            RateMyProfessors.com is built for college students, by college students. Choosing the best courses and professors is a rite of passage for every student, and connecting with peers on the site has become a key way for millions of students to navigate this process. The site does what students have been doing forever - checking in with each other – their friends, their brothers, their sisters, their classmates – to figure out who's a great professor and who's one you might want to avoid.
        </div>
    </div>

    <% include ../partials/footer.ejs %>
</body>
</html>