<!-- contact.ejs -->

<!doctype html>
<html>

<% include ../partials/header.ejs %>
<script src="click.js"></script>

<body>
    <% include ../partials/nav.ejs %>

    <main role="main" class="flex-shrink-0">
        <div class="container" style="background-color: rgba(255, 255, 255, 0.8); padding: 2% 5%; margin-top: 2%;  margin-bottom: 2%">
            <h1 class="head text-center brown">Contact Us!</h1>
            <div class="container">
                <div class="text-center brown">
                If you have any questions, concerns, or feedback, feel free to shoot us a message and we'll be in contact with you.  
                </div>

                <!-- CONTACT FORM -->
                <form style="padding: 5% 0%">
                        <div class="form-row">
                           <!-- NAME -->
                           <div class="form-group col-6">
                                <label class="mr-sm-2 brown" for="class_num">Name</label>
                                <input name="class_num" type="text" class="form-control" style="width: 100%" id="class_num" required>
                            </div>
                            <!-- EMAIL -->
                            <div class="form-group col-6">
                                <label class="mr-sm-2 brown" for="class_num">Email</label>
                                <input type="email" name="class_num" type="text" class="form-control" style="width: 100%" id="class_num" required>
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                        </div>
                        <div class="form-row" style="padding-top: none;">
                            <!-- MESSAGE -->
                            <div class="form-group col-md-12">
                                <label class="brown" for="comments">Message</label>
                                <textarea name="comments" style="width: 100%; margin: auto" class="form-control" id="comments" rows="3"></textarea>
                            </div>	
                        </div>
                        
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                </form>


            </div> 
        </div>  
    </main>

    <% include ../partials/footer.ejs %>
</body>
</html>
