<!doctype html>
<html>
<head>
    <% include ../partials/header.ejs %>
    <title>Contact Us</title>
</head>
<body>
    <% include ../partials/nav.ejs %>

    Contact Us

    <% include ../partials/footer.ejs %>
</body>
</html>