<!-- guidelines.ejs -->

<!doctype html>
<html>

<% include ../partials/header.ejs %>

<body>
    <% include ../partials/nav.ejs %>

    Site Guidelines

    <% include ../partials/footer.ejs %>
</body>
</html>