<!-- guidelines.ejs -->

<!doctype html>
<html>

<% include ../partials/header.ejs %>
<script src="click.js"></script>

<body>
    <% include ../partials/nav.ejs %>

    <main role="main" class="flex-shrink-0">
        <div class="container" style="background-color: rgba(255, 255, 255, 0.8); padding: 2% 5%; margin-top: 2%;  margin-bottom: 2%">
            <h1 class="head text-center brown" style="padding-bottom: 2%">Guidelines</h1>
            <div class="container">
                <div class="left brown" style="padding: 2%">
                We have worked hard to cultivate a culture of respect and support, so please feel free to write whatever
                you want for any course, but please be sure it's constructive. We've specified some Do's and Don'ts to 
                help you stick by our guidelines. Please keep in mind that JumboRate reserves the right to remove any rating 
                that violates our guidelines. 
                    <div class="row" style="margin-top: 5%">
                        <div class="col-sm-6 text-center">
                            <h2 class="blue left">DO</h2>
                            <p>&#9632 <b>Be honest in your reviews.</b> We want people to be able to trust these reviews to make 
                            educated decisions.</p>
                            <p> &#9632 <b>Speak from the "I" perspective.</b> Please avoid hearsay and do your best to speak about
                            your own personal experiences. If someone has something else to say about a course, encourage them
                            to write their own review.</p>
                            <p> &#9632 <b>Focus on the course, not the professor.</b> JumboRate is a resource used to help others
                            select a Tufts <u>course</u>, not to rail on Tufts professors. Do not comment on a professor’s appearance, 
                            dress, age, gender or race.</p>
                            <p> &#9632 <b>Use your discretion.</b> We encourage you to weigh every review against each other. Please
                            keep in mind that people are most likely to rate a course if they either absolutely hated or absolutely loved 
                            it. Your experience might not be anything like the reviews--trust your gut!</p>
                        </div>
                        <div class="col-sm-6 text-center">
                            <h2 class="blue">DON'T</h2>
                            <p> &#9632 <b>Use this forum as a platform for debate.</b> Every person is entitled to their own personal 
                            opinion and experiences. If you do not agree with someone else's experience or rating, we encourage you to
                            write your own.</p>
                            <p> &#9632 <b>Use profanity, name-calling, or derogatory terms.</b> We want to keep this platform
                            respectful and constructive, so please do your part in making sure your ratings are just that: 
                            respectful and constructive. If you would be nervous reading your review out loud, chances are it's 
                            innapropriate.</p>
                            <p> &#9632 <b>Spam one course with many reviews.</b> We allow each student to only write one (1) review
                            per course. Spamming a course with many of the same rating is neither constructive nor respectful. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <% include ../partials/footer.ejs %>
</body>
</html>
