<html lang="en">
<head>
    <% include ../partials/header.ejs %>

    <title>Rate my Classes</title>

    <style>
        .button {
            background-color: #ffffff;
            border: none;
            color: #235EA4;
            padding: 2%;
            margin: 2%;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 150%;
            width: 30%;
            border-radius: 5px;
            font-family: 'Open Sans', sans-serif;
        }

        .button:hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
            cursor: pointer;
        }

        .container-button {
            padding: 2% 10%;
            margin-top: 10%;
        }
    </style>
    
</head>
<body>
    <% include ../partials/nav.ejs %>

    <div class="container container-button center">
        <a class="button" href="search">Search for a Class</a>
        <a class="button" href="rate">Rate a Class</a>
        <button class="button" onclick="postClass('COMP', 160, 'info')">Test Database</button>
    </div>

    <% include ../partials/footer.ejs %>
    
</body>

<script src="https://www.gstatic.com/firebasejs/7.4.0/firebase-analytics.js"></script>

<script>

  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyC9j40ZN83GVo9IfXUkyh8gmTdyyTlMHxM",
    authDomain: "comp20-rate-my-classes.firebaseapp.com",
    databaseURL: "https://comp20-rate-my-classes.firebaseio.com",
    projectId: "comp20-rate-my-classes",
    storageBucket: "comp20-rate-my-classes.appspot.com",
    messagingSenderId: "567919611027",
    appId: "1:567919611027:web:6d25a44f92e6fe51211166",
    measurementId: "G-MJKBR14WXN"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  var database = firebase.database();
  
</script>

</html>
