<html lang="en">
<head>
    <% include ../partials/header.ejs %>

    <title>Rate my Classes</title>
</head>
<body>
    <% include ../partials/nav.ejs %>

    <div class="container center">
        <a class="btn btn-light btn-lg" href="search" role="button">Search for a Class</a>
        <a class="btn btn-light btn-lg" href="rate" role="button">Rate a Class</a>
    </div>
    <script language="javascript">
        getPosts()
    </script>
    <% include ../partials/footer.ejs %>
</body>
</html>
