<!-- Home: index.ejs -->

<!doctype html>
<html>

<% include ../partials/header.ejs %>
<script src="click.js"></script>

<body>
    <% include ../partials/nav.ejs %>

    <!-- Main Link Buttons -->
    <main role="main" class="flex-shrink-0">
        <div class="container text-center">
            <div class="text-center head blue" style="padding: 5% 0%">
                <h1 style="font-size: 64px">Jumbo Rate</h1>
            </div>
            <div class="row">
                <div class="col-6">
                    <a style="padding: 4% 10%; float: right" class="btn btn-light btn-lg brown" href="search" role="button">Search for a Class</a>
                </div>
                <div class="col-6">
                    <a style="padding: 4% 14%; float: left" class="btn btn-light btn-lg brown" href="rate" role="button">Rate a Class</a>
                </div>
            </div>
        </div>
    </main>

    <% include ../partials/footer.ejs %>
      
    <!-- Submission Modal (Popup) -->
    <div class="modal fade" id="confirmation" tabindex="-1" role="dialog" aria-labelledby="confirmation" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Submission Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Thank you for taking the time to review a Tufts class! </br>
                    Your submission has been added.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var url = "index.js";
        $.getScript(url);
    </script>
</body>
</html>
