<!-- login.ejs -->

<!doctype html>
<html>

<% include ../partials/header.ejs %>

<body>
	<% include ../partials/nav.ejs %>
	
	<main role="main" class="flex-shrink-0">
		<div class="container" style="background-color: rgba(255, 255, 255, 0.8); padding: 2% 2%; margin-top: 2%">
			<h1 class="head text-center brown">Login</h1>
			<h5 class="sub text-center brown"> Please log in to make your own ratings! </h5>
			<div class="login_box">
				<div id="loader">Loading...</div>
				<div id="firebaseui-auth-container"></div>
			</div>
		</div>
	</main>
</body>

<script src="login.js"></script>
<% include ../partials/footer.ejs %>

</html>