<!-- login.ejs -->

<!doctype html>
<html>

<% include ../partials/header.ejs %>

<body>
	<div> 
		<h2 class="text-center"> Please log in to make your own ratings! </h2>
	</div>
	<div class="box>
		<div id="loader">Loading...</div>
		<div id="firebaseui-auth-container"></div>
	</div>
</body>

<script src="login.js"></script>
<script src="click.js"></script>

<% include ../partials/footer.ejs %>

</html>
