<!-- login.ejs -->

<!doctype html>
<html>

<% include ../partials/header.ejs %>

<body>
    <div id="loader">Loading...</div>
	<div id="firebaseui-auth-container"></div>
</body>

<script src="login.js"></script>
<script src="click.js"></script>

<% include ../partials/footer.ejs %>

</html>
