<!doctype html>
<html>
<head>
	<% include ../partials/header.ejs %>
	
    <title>Rate</title>

</head>
<body>
	<% include ../partials/nav.ejs %>



	<% include ../partials/footer.ejs %>
</body>
</html>