<!-- rate.ejs -->

<!doctype html>
<html>

<% include ../partials/header.ejs %>

<body>
	<% include ../partials/nav.ejs %>
	
	<!-- redirect to login to make a rating -->
	<script> 
	    firebase.auth().onAuthStateChanged(user => {
			if(!user) {
				window.location = 'login.ejs';
			}
	     });
	</script>

	<!-- form validation -->
	<script>
		// JavaScript for disabling form submissions if there are invalid fields
		(function() {
			'use strict';
			window.addEventListener('load', function() {
			// Fetch all the forms we want to apply custom Bootstrap validation styles to
			var forms = document.getElementsByClassName('needs-validation');
			// Loop over them and prevent submission
			var validation = Array.prototype.filter.call(forms, function(form) {
				form.addEventListener('submit', function(event) {
				// If invalid class num (greater than 3 digits or not letters) do not allow submit
				var courseNum = document.getElementById("class_num").value;
				var dep = document.getElementById("dep").value;
				var year = document.getElementById("year").value;
				var term = document.getElementById("term").value;
				var overall = document.getElementById("overall").value;
				var difficulty = document.getElementById("difficulty").value;
				var workload = document.getElementById("workload").value;
				var prof = document.getElementById("prof").value;
				var grade = document.getElementById("grade").value;
				var attendance = document.getElementById("attendance").value;
				if (courseNum.length > 3) {
					$("#class_num").addClass("form-control is-invalid");
      				$("#invalidInput").addClass('show');
					$('#invalidInput').delay(5000).fadeOut('slow');
					event.preventDefault();
					event.stopPropagation();
				}
				if (courseNum.match(/^[0-9]+$/) == null) {
					$("#invalidInput").addClass('show');
					$('#invalidInput').delay(5000).fadeOut('slow');
					event.preventDefault();
					event.stopPropagation();
				}
				else if (form.checkValidity() === false) {
					event.preventDefault();
					event.stopPropagation();
				}
				if (dep.length == 0) {
					$("#invalidInput").addClass('show');
					$('#invalidInput').delay(5000).fadeOut('slow');
					
				}
				if (year.length == 0) {
					$("#invalidInput").addClass('show');
					$('#invalidInput').delay(5000).fadeOut('slow');
				}
				if (term.length == 0) {
					$("#invalidInput").addClass('show');
					$('#invalidInput').delay(5000).fadeOut('slow');
				}
				if (overall.length == 0) {
					$("#invalidInput").addClass('show');
					$('#invalidInput').delay(5000).fadeOut('slow');
				}
				if (difficulty.length == 0) {
					$("#invalidInput").addClass('show');
					$('#invalidInput').delay(5000).fadeOut('slow');
				}
				if (workload.length == 0) {
					$("#invalidInput").addClass('show');
					$('#invalidInput').delay(5000).fadeOut('slow');
				}
				if (prof.length == 0) {
					$("#invalidInput").addClass('show');
					$('#invalidInput').delay(5000).fadeOut('slow');
				}
				if (grade.length == 0) {
					$("#invalidInput").addClass('show');
					$('#invalidInput').delay(5000).fadeOut('slow');
				}
				if (attendance.length == 0) {
					$("#invalidInput").addClass('show');
					$('#invalidInput').delay(5000).fadeOut('slow');
				}

				form.classList.add('was-validated');
				}, false);
			});
			}, false);
		})();
	</script>

	<!-- Begin Page Content -->
	<main role="main" class="flex-shrink-0">
		<div class="container" style="background-color: rgba(255, 255, 255, 0.8); padding: 2% 5%; margin-top: 2%;  margin-bottom: 2%">
			<h1 class="head text-center brown" style="padding-bottom: 2%">Rate a Class</h1>
			<form class="needs-validation" id="rating" action="/post_class" method="POST" novalidate>
			<div class="container">
				<form>
					<div class="row">
						<h3 class="head blue" style="float: right;">Step 1: Select a Course</h3>
					</div>
					<div class="form-row">
						<!-- DEPARTMENT -->
						<div class="form-group col-md-6">
							<label class="mr-sm-2 brown" for="department">Department</label>
							<select name="dep" class="form-control my-1 mr-sm-2" id="dep" style="width: 90%" required>
								<option selected></option>
							</select>
						</div>
						<!-- COURSE NUMBER -->
						<div class="form-group col-md-6">
							<label class="mr-sm-2 brown" for="class_num">Course Number</label>
							<input placeholder="e.g. 11, 120 (only numeric digits)" name="class_num" type="text" class="form-control" style="width: 90%" id="class_num" required>
						</div>
					</div>

					<div class="form-row">
						<!-- TERM -->
						<div class="form-group col-md-6">
							<label class="mr-sm-2 brown" for="term">Term</label>
							<select name="term" class="form-control my-1 mr-sm-2" id="term" style="width: 90%" required>
								<option selected></option>
								<option value="Fall">Fall</option>
								<option value="Spring">Spring</option>
								<option value="Summer">Summer</option>
							</select>
						</div>
						<!-- YEAR -->
						<div class="form-group col-md-6">
							<label class="mr-sm-2 brown" for="year">Year</label>
							<select name="year" class="form-control my-1 mr-sm-2" id="year" style="width: 90%" required>
								<option selected></option>
							</select>
						</div>
					</div>
					

					<div class="row" style="margin-top: 5%">
						<h3 class="head blue" style="float: right;">Step 2: Rate the Course</h3>
					</div>
					<div class="form-row">
						<!-- OVERALL RATING -->
						<div class="form-group col-md-4">
							<label class="mr-sm-2 brown" for="overall">Overall Course</label>
							<select name="overall" class="custom-select my-1 mr-sm-2" id="overall" style="width: 90%" required>
								<option selected></option>
								<option value="1">1–Terrible</option>
								<option value="2">2-Poor</option>
								<option value="3">3-Average</option>
								<option value="4">4-Good</option>
								<option value="5">5-Awesome</option>
							</select>
						</div>
						<!-- DIFFICULTY -->
						<div class="form-group col-md-4">
							<label class="mr-sm-2 brown" for="difficulty">Difficulty</label>
							<select name="difficulty" class="custom-select my-1 mr-sm-2" id="difficulty" style="width: 90%" required>
								<option selected></option>
								<option value="1">1-Just show up to get an A</option>
								<option value="2">2-Pretty Easy</option>
								<option value="3">3-Manageable</option>
								<option value="4">4-Hard</option>
								<option value="5">5–Hardest class I've ever taken</option>
							</select>
						</div>

						<!-- WORKLOAD -->
						<div class="form-group col-md-4">
							<label class="mr-sm-2 brown" for="workload">Workload</label>
							<select name="workload" class="custom-select my-1 mr-sm-2" id="workload" style="width: 90%" required>
								<option selected></option>
								<option value="1">1-Little to no work at all</option>
								<option value="2">2-Some work, but easy</option>
								<option value="3">3-Average amount of work</option>
								<option value="4">4-Lots of work</option>
								<option value="5">5-The most work I've ever had</option>
							</select>
							</div>
					</div>
	
					<div class="row" style="margin-top: 5%">
						<h3 class="head blue" style="float: right;">Step 3: Specify Course Details</h3>
					</div>
					<div class="form-row">
						<!-- PROFESSOR -->
						<div class="form-group col-md-4">
							<label class="mr-sm-2 brown" for="prof">Professor</label>
							<input placeholder="e.g. Johnny Appleseed" name="prof" type="text" class="form-control" id="prof" style="width: 90%; margin: 0" required>
						</div>
						<!-- GRADE -->
						<div class="form-group col-md-4">
							<label class="mr-sm-2 brown" for="grade">Grade Received</label>
							<select name="grade" class="custom-select my-1 mr-sm-2" id="grade" style="width: 90%" required>
								<option selected></option>
								<option value="A+">A+</option>
								<option value="A">A</option>
								<option value="A-">A-</option>
								<option value="B+">B+</option>
								<option value="B">B</option>
								<option value="B-">B-</option>
								<option value="C+">C+</option>
								<option value="C">C</option>
								<option value="C-">C-</option>
								<option value="D+">D+</option>
								<option value="D">D</option>
								<option value="D-">D-</option>
								<option value="F">F</option>
								<option value="Drop/Withdrawal">Drop/Withdrawal</option>
								<option value="Incomplete">Incomplete</option>
								<option value="Not Sure Yet">Not Sure Yet</option>
								<option value="Would Rather Not Say">Would Rather Not Say</option>
								<option value="Audit/No Grade">Audit/No Grade</option>
							</select>
						</div>

						<!-- ATTENDANCE -->
						<div class="form-group col-md-4">
							<label class="mr-sm-2 brown" for="attendance">Attendance</label>
							<select name="attendance" class="custom-select my-1 mr-sm-2" id="attendance" style="width: 90%" required>
								<option selected></option>
								<option value="Mandatory">Mandatory</option>
								<option value="Not Mandatory">Not Mandatory</option>
							</select>
						</div>
					</div>

					<div class="row" style="margin-top: 5%">
						<h3 class="head blue" style="float: right;">Step 4: Leave Some Constructive Comments</h3>
					</div>
					<div class="form-row">
						<!-- COMMENTS -->
						<div class="form-group col-md-12">
							<label class="text-muted" for="comments">Please refrain from using harmful language.</label>
							<textarea name="comments" style="width: 100%; margin: auto" class="form-control" id="comments" rows="3"></textarea>
						</div>	
					</div>

				<!-- Submit Button -->
				<div class="text-center">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
			</form> 
		</div>
	</main>

	<% include ../partials/footer.ejs %>

	<script>
        var url = "rate.js";
        $.getScript(url);
    </script>
</body>
</html>