<!-- search_result.ejs -->

<!doctype html>
<html>

<% include ../partials/header.ejs %>

<body>
    <% include ../partials/nav.ejs %>

    <!-- Main Summary -->
    <main role="main" class="flex-shrink-0" style="padding-bottom: 5%">
        <div class="container" style="background-color: rgba(255, 255, 255, 0.8); padding: 2% 2%; margin-top: 2%">
            <div class="container" style="padding-bottom: 5%">
                <h1 class="head text-center">
                    <!-- Department & Class Number Passed from Request -->
                    <span id="department"><%= dep %></span>
                    <span id="class_num"><%= class_num %></span>
                </h1>
                <!-- Pass in department & class number as parameters to request -->
                <div class="text-center" style="padding-top: 2%"><a class="btn-sm btn-primary" style="text-decoration: none;" href="rate?dep=<%= dep %>&class_num=<%= class_num %>">Rate this Class</a></div>
            </div>

            <div class="container text-center">
                <div class="row">
                    <div class="column col-lg sub">
                        Difficulty 
                    </div>
                    <div class="column col-lg sub">
                        Overall Rating
                    </div>
                    <div class="column col-lg">
                        Workload
                    </div>
                </div>
                <div class="row">
                    <div id="difficulty" class="column col-lg value head">
                        <h3 id="avg_difficulty"></h3>
                    </div>
                    <div id="overall_rating" class="column col-lg value head" style="font-size: 500%">
                        <span id="avg_overall"></span>
                    </div>
                    <div id="workload" class="column col-lg value head">
                        <h3 id="avg_workload"></h3>
                    </div>
                </div>
            </div>
        </div>

        <!-- Filter & Sort Options -->
        <div class="row justify-content-center" style="padding: 2% 0%">
            <div class="col-4 text-center">
                <label class="mr-sm-2" for="sort" style="color: #000">Sort By:</label> 
                <select class="select" name="sort" id="select_sort" onchange="sort_data()" style="width: 50%">
                    <option value="Date">Date</option>
                    <option value="LtoH"> Rating: Low to High</option>
                    <option value="HtoL">Rating: High to Low</option>
                </select>
            </div>
            <div class="col-4 text-center">
                <label class="mr-sm-2" for="filter" style="color: #000">Filter by Professor:</label> 
                <select class="select" name="filter" id="select_filter" onchange="get_data()" style="width: 50%">
                    <option value="All">All</option>
                </select>
            </div>
        </div>

        <!-- Search Results -->
        <div id="display"></div>
    </main>

    <% include ../partials/footer.ejs %>

    <script>
        var url = "search_result.js";
        $.getScript(url);
    </script>
</body>
</html>