<!doctype html>
<html>
<head>
    <% include ../partials/header.ejs %>
    <title>Search</title>

</head>
<body>
    <% include ../partials/nav.ejs %>

    <main role="main" class="flex-shrink-0">
        <div class="container" style="background-color: rgba(255, 255, 255, 0.8); padding: 2% 2%; margin-top: 2%">
            <h1 class="head text-center">Search for a Class</h1>
            <div class="col-5">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select a Course Number
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">11</a>
                        <a class="dropdown-item" href="#">15</a>
                        <a class="dropdown-item" href="#">20</a>
                        <a class="dropdown-item" href="#">40</a>
                        <a class="dropdown-item" href="#">60</a>
                    </div>
                </div> 
            </div>

        </div>
    </main>


    <% include ../partials/footer.ejs %>
    
</body>
</html>