<!-- search.ejs -->

<!doctype html>
<html>

<% include ../partials/header.ejs %>
<script src="click.js"></script>


<body>
    <% include ../partials/nav.ejs %>

    <main role="main" class="flex-shrink-0">
        <div class="container" style="background-color: rgba(255, 255, 255, 0.8); padding: 2% 2%; margin-top: 2%">
            <h1 class="head text-center brown">Search for a Class</h1>
            
            <!-- Search Form -->
            <form action="/search_result" method="POST">
                <!-- Department -->
                <div class="container text-center" style="padding: 2% 0 2% 0">
                    <h4 class="sub text-center brown">Select a department:</h4>
                    <select class="custom-select my-1 mr-sm-2" id="select_dep_num" name="dep" onchange="update_class_num()" style="width: 20%">
                        <option selected></option>
                    </select>
                </div>

                <!-- Class Number -->
                <div class="container text-center" style="padding: 2% 0 2% 0">
                    <h4 class="sub text-center brown">Select a course number:</h4>
                    <select class="custom-select my-1 mr-sm-2" id="select_class_num" name="class_num" style="width: 20%">
                        <option selected></option>
                    </select>
                </div>

                <div class="container text-center" style="padding: 2% 0 2% 0">
                    <button class="btn btn-primary go-btn" type="submit">Go</button>
                </div>
            </form>  
        </div>
    </main>

    <% include ../partials/footer.ejs %>

    <script>
        var url = "search.js";
        $.getScript(url);
    </script>
</body>
</html>
